<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("Head", required: false)
</head>

<body>
    <!--[if lt IE 9 ]> <div class="header"> <![endif]-->
    <!--[if (gt IE 8)|!(IE)]><!--> <header> <!--<![endif]-->
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <!--[if (gt IE 8)|!(IE)]><!--> </header> <!--<![endif]-->
    <!--[if lt IE 9 ]> </div> <![endif]-->

    <div id="content">
    @RenderBody()
    </div>

    <!--[if lt IE 9 ]> <div class="footer"> <![endif]-->
    <!--[if (gt IE 8)|!(IE)]><!--> <footer> <!--<![endif]-->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!--[if (gt IE 8)|!(IE)]><!--> </footer> <!--<![endif]-->
    <!--[if lt IE 9 ]> </div> <![endif]-->

</body>
</html>
